<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch or Streaming Data</title>
</head>
<body>
<h1>Venmo User Analytics</h1>
<h2>Choose between batch and streaming analysis.</h2>
<p>For batch, you can see number of transactions during <br>
    (1) each hour of the day, <br>(2) each hour and each day of week, <br>(3) each hour and each user in 2015.</p>
<p>For streaming, you can see the number of transaction is being updated every 5 seconds <br>
    and historical data corresponding to its (hour) and (hour and day of week) for comparison. </p>
<!--
<p>
<a href="batch.html"> Click here to see historic data. </a> <br>
<a href="streaming.html"> Click here to see streaming data. </a>
</p>
-->




</body>
</html>